.client-data {
    width: 550px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0 10px 110px;
}

.client-detail {
    width: 200px;

    :first-child {
        color: rgb(168, 168, 167);
        font-size: 15px;
    }

    :nth-child(2n) {
        font-size: 14px;
    }
}

p {
    margin: 0;
    padding-bottom: 10px;

    :first-child {
        text-decoration: none;
    }
}
