mat-form-field {
    display: block !important;
    flex: 1 1 auto;
    margin-left: 5px;
    margin-right: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    padding-top: 51px !important;
}

mat-icon {
    cursor: default;
}

mat-icon:hover {
    opacity: 0.6;
}

.input-and-call-btn {
    display: flex;
}

.form-container {
    display: flex;
    padding: 0;
    border-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
