<form [formGroup]="contactForm">
    <mat-form-field appearance="outline" color="accent">
        <mat-label>Номер телефона</mat-label>
        <div class="input-and-call-btn">
            <input
                matInput
                type="text"
                placeholder="Введите номер телефона"
                value="{{ contact.phone }}"
                formControlName="numberPhone"
            />
            <mat-icon *ngIf="!callStatus" (click)="toggleCall(contact)">call</mat-icon>
            <mat-icon *ngIf="callStatus" (click)="toggleCall(contact)">phone_in_talk</mat-icon>
        </div>
    </mat-form-field>
</form>
