<form [formGroup]="contactForm">
    <mat-form-field appearance="outline" color="accent">
        <mat-label>Номер телефона</mat-label>
        <div class="input-and-call-btn">
            <input
                matInput
                type="text"
                placeholder="Введите номер телефона"
                value="{{ contact.phone }}"
                formControlName="numberPhone"
            />
            <mat-icon *ngIf="!callStatus; else callOff" (click)="toggleCall(contact)">call</mat-icon>
            <ng-template #callOff>
                <mat-icon (click)="toggleCall('off')">call_end</mat-icon>
            </ng-template>
        </div>
    </mat-form-field>
</form>
