<div *ngIf="isCall" class="widget">
    <ng-container [ngSwitch]="true">
        <div *ngSwitchCase="isConnected">
            <div class="connect-block">
                <div *ngIf="client$ | async as client" class="client-data">
                    <p>{{ client.name }}</p>
                    <p>{{ client.phone }}</p>
                </div>
                <app-timer [count]="widgetSettings.timerCount"></app-timer>
                <button (click)="toggleMic()" mat-icon-button>
                    <mat-icon aria-hidden="false">{{ icon ? 'mic' : 'mic_off' }}</mat-icon>
                </button>
                <button (click)="endCall()" class="button-call" mat-icon-button>
                    <mat-icon aria-hidden="false">call_end</mat-icon>
                </button>
            </div>
        </div>
        <div *ngSwitchCase="connecting">
            <app-loader *ngIf="connecting" [message]="widgetSettings.connectingMessage"></app-loader>
        </div>
        <div *ngSwitchCase="isErrorConnection">
            <div class="error-block">
                <p>{{ widgetSettings.errorMessage }}</p>
                <button (click)="endCall()" class="button-call" mat-icon-button>
                    <mat-icon aria-hidden="false">call_end</mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
</div>
