<div *ngIf="isCall" class="widget-blocks">
    <div *ngIf="isDelay" class="progress-loader">
        <p>Идет набор номера...</p>
        <mat-progress-spinner class="loader" mode="indeterminate" diameter="20"> </mat-progress-spinner>
    </div>
    <div *ngIf="isConnected; else errorCall" class="connect-block">
        <div *ngIf="nameAndPhone$ | async as data" class="client-data">
            <p>{{ data.name }}</p>
            <pre>{{ data.phone }}</pre>
        </div>
        <app-timer></app-timer>
        <mat-icon (click)="toggleMic()" aria-hidden="true">{{ micIcon ? 'mic' : 'mic_off' }}</mat-icon>
        <button (click)="endCall()" class="button-call" mat-icon-button>
            <mat-icon aria-hidden="false">call_end</mat-icon>
        </button>
    </div>
    <ng-template #errorCall class="error-block">
        <p>Ошибка соеденения...</p>
        <button (click)="endCall()" class="button-call" mat-icon-button>
            <mat-icon aria-hidden="false">call_end</mat-icon>
        </button>
    </ng-template>
</div>
