<form [formGroup]="clientContactsForm" class="contacts-form">
   <app-phone-field [phone]="contact.phone" (click)="startCall()"></app-phone-field>
    <mat-form-field class="input-full-width input ">
        <mat-label>ФИО Контакта</mat-label>
        <input [formControlName]="contactsFormControlEnum.CLIENT_NAME" matInput />
    </mat-form-field>

    <mat-form-field class="input-full-width input ">
        <mat-label>Тип телефона</mat-label>
        <select [formControlName]="contactsFormControlEnum.PHONE_TYPE" placeholder="Тип телефона" matNativeControl>
            <option *ngFor="let phoneType of phoneTypes" [value]="phoneType">
                {{ phoneType }}
            </option>
        </select>
    </mat-form-field>

    <mat-form-field class="input-full-width input ">
        <mat-label>Тип Связи</mat-label>
        <input [formControlName]="contactsFormControlEnum.CONTACTS_TYPE" matInput />
    </mat-form-field>

    <mat-form-field class="input-full-width input comment" floatLabel="never">
        <input [formControlName]="contactsFormControlEnum.COMMENT" placeholder="Комментарий" matInput />
    </mat-form-field>
</form>
