.contacts-form {
    width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .mat-form-field {
        width: 330px;
    }

    .input {
        background-color: rgb(195, 226, 238);
        border-radius: 4px;
        line-height: 16px;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .comment {
        width: 680px;
        line-height: 20px;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }

    ::ng-deep .mat-form-field-infix {
        display: flex;
    }
}
