.contacts-form {
    width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .mat-form-field {
        width: 330px;
    }

    .input {
        background-color: rgb(195, 226, 238);
        border-radius: 4px;
        padding: 0;
        padding: 0 10px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .comment {
        width: 680px;
        line-height: 20px;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }

    .phone-field {
        width: 330px;
        display: flex;
        justify-content: space-between;

        mat-form-field:first-of-type {
            width: 280px;
            border-radius: 4px 0 0 4px;
        }

        :nth-child(2n) {
            border-radius: 0;
        }

        :last-child {
            width: 46px;
            height: 68px;
            border-radius: 4px;
        }
    }
}
