.contacts-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 680px;
    margin: 0 auto;

    .mat-form-field {
        width: 310px;
    }

    .input {
        max-height: 64px;
        height: 100%;
        margin-bottom: 15px;
        background-color: rgb(195, 226, 238);
        border-radius: 4px;
        padding: 0 10px;
    }

    .comment {
        width: 680px;
        line-height: 20px;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }

    ::ng-deep .mat-form-field-infix .phone-type {
        display: flex;
        height: 44px;
    }
}
