.form-wrapper {
    width: 460px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-title {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-full-width {
    width: 400px;
}

.submit-btn {
    width: 100px;
    margin: 10px 0;
}

.form-control {
    width: 300px;
}
