:host {
    height: 100%;
    width: 100%;
    font-weight: 400;
    color: #f4f4f4;
    background-color: #282828;
}

.widget-blocks {
    display: grid;
    padding: 0 10px;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 100%;
    width: 100%;
}
