mat-toolbar {
  display: flex;
  background: #333333;
}

button.mat-raised-button {
  margin: 0 5px;
  padding: 0;
  min-width: 40px;
  width: 40px;
}

div button {
  color: white;
  background: #333333;
}

div button:hover {
  opacity: 0.7;
}

.firstToolbar {
  flex-grow: 50;
}

.thirdToolbar {
  flex-grow: 3;
}

.fourToolbar {
  flex-grow: 1;
}
