<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <button mat-raised-button color="">
            <i class="material-icons"> menu </i>
        </button>
        <div class="thirdToolbar">
            <button mat-raised-button color="">
                <i class="material-icons"> phone_forwarded </i>
            </button>
            <button mat-raised-button color="">
                <i class="material-icons"> alarm </i>
            </button>
            <button mat-raised-button color="">
                <i class="material-icons"> mic_none </i>
            </button>
            <button mat-raised-button color="warn">
                <i class="material-icons"> call_end </i>
            </button>
        </div>
        <div class="fourToolbar">
            <button mat-mini-fab color="">
                <i class="material-icons"> account_circle </i>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
