<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <div class="firstToolbar">
            <button mat-raised-button [matMenuTriggerFor]="menu">
                <i class="material-icons"> menu </i>
            </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div class="secondToolbar"></div>
        <div class="thirdToolbar">
            <button mat-raised-button color="">
                <i class="material-icons"> phone_forwarded </i>
            </button>
            <button mat-raised-button color="">
                <i class="material-icons"> alarm </i>
            </button>
            <button mat-raised-button color="">
                <i class="material-icons"> mic_none </i>
            </button>
            <button mat-raised-button color="warn">
                <i class="material-icons"> call_end </i>
            </button>
        </div>
        <div class="fourToolbar">
            <button mat-mini-fab color="">
                <i class="material-icons"> account_circle </i>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
