@import '../../../variables.scss';

app-tool-bar-operator {
    position: fixed;
    top: 0;
    z-index: $toolbar-z-index;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.left-list {
    position: fixed;
    top: 64px;
    bottom: 0;
    z-index: $sidebar-z-index;
}

.grids-elements {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.right-list {
    position: relative;
    margin-top: 40px;
}

app-operator-tabs {
    display: block;
    position: relative;
}

.flex-tabs {
    position: absolute;
    width: 100%;
}

.mat-tab-link {
    color: #4a7ab1;
    opacity: 1;
    font-weight: normal;
}
