.info-client {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(87, 82, 82);
}

.grids-elements {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.right-list {
    position: relative;
    margin-top: 40px;
}

.left-list{
  position: absolute;
  top: 0;
  display: block;
  float: left;
  left: 0;
  width: auto;
  height: 100vh;
  z-index: 99;
}

app-operator-tabs {
    display: block;
    position: relative;
}

.flex-tabs {
    position: absolute;
    width: 100%;
}

.mat-tab-link{
  color: #4A7AB1;
  opacity: 1;
  font-weight: normal;
}
