<app-tool-bar-operator></app-tool-bar-operator>
<div class="info-client">
    <app-side-bar-operator class="left-list"></app-side-bar-operator>
    <app-info-client></app-info-client>
</div>
<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="contact" routerLinkActive="Contact" class="route-link">Контактность</a>
    <a mat-tab-link routerLink="contact" routerLinkActive="Contact" class="route-link">Адрес</a>
</nav>
<div class="grids-elements">
    <div></div>
    <app-operator-tabs></app-operator-tabs>
    <app-right-list class="right-list"></app-right-list>
</div>
