.info-client {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgb(87, 82, 82);
}
.right-list {
    margin-top: 250px;
}

app-operator-tabs {
    position: relative;
    display: block;
    margin-top: 200px;
}

.flex-tabs {
    position: absolute;
    width: 100%;
}
