<app-tool-bar-operator></app-tool-bar-operator>
<div class="info-client">
    <app-side-bar-operator class="left-list"></app-side-bar-operator>
    <app-info-client></app-info-client>
</div>
<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="{{ contact }}" routerLinkActive="{{ contact }}">Контактность</a>
    <a mat-tab-link routerLink="{{ laborActivity }}" routerLinkActive="{{ laborActivity }}">Трудовая деятельность</a>
</nav>
<app-info-client-fixed></app-info-client-fixed>
<div class="grids-elements">
    <div></div>
    <app-operator-tabs></app-operator-tabs>
    <app-right-list class="right-list"></app-right-list>
</div>
