<div class="cont-auth">
    <form [formGroup]="authForm" (ngSubmit)="submit()">
        <div class="cont-auth-form">
            <mat-form-field color="accent">
                <mat-label>Логин:</mat-label>
                <input matInput class="login" type="text" formControlName="login" />
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Пароль:</mat-label>
                <input matInput class="password" type="password" formControlName="password" />
            </mat-form-field>
        </div>
        <button mat-raised-button color="accent" class="button">Отправить</button>
    </form>
</div>
