.comment-input-box {
    width: 100%;
}

.comment-card {
    margin-bottom: 15px;
}

.comment-list {
    display: block;
}

.input-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 5px;
    opacity: 0.5;
}

.input-icon:hover {
    opacity: 0.8;
}

mat-card-content {
    word-break: break-all;
    font-style: italic;
}

.mat-card-title {
    font-size: 14px;
}

mat-sidenav {
    flex: 1;
    width: 350px;
    -webkit-box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
}
