.example-container {
    width: auto;
    height: 100%;
}

mat-sidenav {
    height: 100%;
    width: 350px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.24);
}

mat-sidenav-container {
    background-color: transparent;
}

.center-btn {
    text-align: center;
    width: 100%;
}
