.container {
    padding: 60px 100px 20px 100px;
    height: 170px;
    background-color: rgb(63, 61, 61);
    font-family: sans-serif;
    color: rgb(168, 168, 167);
}

.client-data {
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
}

.session-data {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.client-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 460px;
    margin-bottom: 10px;
}

.client-name {
    width: 600px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(228, 221, 208);
    text-transform: uppercase;

    span:last-child {
        padding-left: 10px;
    }
}

.client-activity {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 550px;
    padding-left: 10px;
    font-size: 13px;

    :last-child {
        color: rgb(228, 221, 208);
        font-size: 14px;
    }

    p {
        margin: 0;
        line-height: 20px;

        :first-child {
            text-decoration: none;
            color: rgb(168, 168, 167);
        }
    }
}

.client-status {
    width: 200px;
    text-align: center;
    background-color: rgba(158, 158, 156, 1);
    color: rgb(228, 221, 208);
    border-radius: 20px;
    line-height: 20px;
    font-size: 12px;
}

.client-image {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    top: 40%;
}

.activity-detail {
    width: 200px;
    padding-bottom: 20px;
    color: rgb(168, 168, 167);
}
