<div class="wrapper">
    <div class="client-data">
        <div class="session-data">
            <span class="time-data">{{ time | date: 'hh:mm a' }}</span>
            <span class="session-id">{{ user.customerId }}</span>
            <span class="date-data">{{ user.createdAt | date: 'dd.MM.yy'}}</span>
        </div>
        <div class="client-detail">
            <div class="client-name"> 
                <span>{{ user.firstName }}</span>
                <span>{{ user.lastName}}</span>
            </div>
            <span class="client-age">{{ user.age | ageData }}</span>
            <div class="client-adress">{{ user.address }}</div>
            <div class="client-status">{{ user.city }}</div>
        </div>
        <div >
            <img src="{{user.avatar}}" class="client-image">
        </div>
    </div>
</div>