<div class="user-info">
    <div class="user-image">
        <mat-icon aria-hidden="false" aria-label="User">person</mat-icon>
    </div>
    <div class="user-data">
        <div class="user-name">
            <span>{{ user }}</span>
        </div>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="logOut()" mat-menu-item>
                <span>Выход</span>
            </button>
        </mat-menu>
        <div class="user-status">
            <span>В сети</span>
        </div>
    </div>
</div>
