mat-list {
    padding-top: 0;
    border: #e9eaec solid 0.1em;
    border-radius: 0.3em;
    margin: 15px;
}

.title-list {
    display: flex;
}

h3 {
    flex: 1 1 auto;
    margin: 5px;
}

mat-icon {
    color: #537aad;
    cursor: default;
    margin: 5px;
}
