.comments {
    height: 350px;
}
.card {
    min-width: 100px;
    padding: 5px 10px;
    margin: 5px 0;
}

:host {
    /deep/.mat-card-header-text {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
:host {
    /deep/.mat-card-header .mat-card-subtitle:not(:first-child) {
        margin-top: 4px;
        margin-left: 10px;
        text-align: right;
    }
}
@media (max-width: 1093px) {
    :host {
        /deep/.mat-card-header .mat-card-subtitle:not(:first-child) {
            width: 100px;
        }
    }
}
