<div class="contAuth">
    <form [formGroup]="authForm" (ngSubmit)="submit()">
        <div class="contAuthForm">
            <mat-form-field>
                <mat-label>Login:</mat-label>
                <input matInput class="login" type="text" formControlName="login" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input matInput class="password" type="password" formControlName="password" />
            </mat-form-field>
        </div>
        <button mat-raised-button color="accent" class="button">Отправить</button>
    </form>
</div>
