<div *ngIf="client$ | async as client" class="info-client-fixed">
    <h3 class="full-name">{{ client.firstName }} {{ client.lastName }}</h3>
    <span class="age">{{ client.age }}</span>
    <span class="location">{{ client.city }}</span>
    <span class="location">{{ client.address }}</span>
    <div *ngIf="clientLaborActivity$ | async as clientLaborActivity" class="labor-activity">
        <span class="income">{{ clientLaborActivity.income }}</span>
        <span class="position">{{ clientLaborActivity.position }}</span>
        <span class="occupation">{{ clientLaborActivity.occupation }}</span>
    </div>
</div>
