mat-toolbar {
    flex: 1 1 auto;
    background-color: #2b2b2b;
    position: fixed;
    z-index: 2;
}

mat-toolbar-row {
    justify-content: space-between;
}

.left-part-menu {
    display: flex;
    flex-direction: row;
}

.verification {
    color: #f7f7f7;
    padding: 8px;
    cursor: pointer;
}

.icon-toolbar-menu {
    padding: 12px;
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}

.icon-toolbar-menu:hover {
    background-color: #f7f7f7;
    border-radius: 50%;
    opacity: 0.3;
}

.icons-toolbar {
    border-radius: 45px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.text-info-toolbar {
    display: block;
    height: 50px;
    overflow: hidden;
}

.name-user-toolbar,
.status-user-toolbar {
    position: relative;
    display: block;
}

.name-user-toolbar {
    font-size: 16pt;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 58%;
}

.status-user-toolbar {
    font-size: 8pt;
    font-weight: lighter;
    color: gray;
    height: 42%;
}

.user-section-toolbar {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 100%;
    padding: 0 1em;
    max-width: 15em;
}

.user-section-toolbar:hover {
    background-color: #151515;
}

.user-menu {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 200px;
    z-index: 3;
    background-color: rgba(43, 43, 43, 0.6);
    text-align: center;
}

.empty-container {
    height: 64px;
}
