.info-client {
    width: 60%;
    margin: auto;
}
.full-name {
    color: rgb(231, 228, 228);
    font-size: 22px;
}
.age,
.location {
    color: darkgrey;
    font-size: 14px;
}
.age {
    margin-right: 10px;
}
.avatar {
    float: right;
    border-radius: 5px;
}
