.example-container {
  width: 450px;
  height: 100%;
}

mat-sidenav{
  height: 100%;
  width: 350px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
}

.btnExitSession{
  top: 50%;
  width: 150px;
  height: 50px;
}

mat-sidenav-container{
  background-color: white;
}
