.example-container {
    height: 100%;
}

.side-button {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

mat-sidenav-container {
    background-color: white;
}

mat-sidenav {
    flex: 1;
    width: 250px;
}
