.side-button {
    position: fixed;
    bottom: 25px;
    left: 55px;
}
.list-item {
    height: calc(100vh - 180px);
}

.mat-raised-button {
    height: 60px;
    width: 240px;
    font-size: 20px;
}
