.example-container {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    float: left;
    left: 0;
    height: 90%;
    width: 250px;
}

.side-button {
    bottom: 0;
    padding: 30px;
    position: absolute;
    z-index: 999;
}

.list-item {
    padding-bottom: 80px;
}

mat-sidenav {
    border-right: solid 1px rgba(0, 0, 0, 0.5);
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

mat-sidenav-container {
    background-color: white;
}
