<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let step of stepsList$ | async; let idx = index">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ idx + 1 }}. {{ step.name }} </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    {{ step.phone }}
                </mat-panel-description>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <div class="side-button">
        <button mat-raised-button color="primary">Завершить сессию</button>
    </div>
</mat-sidenav-container>
