mat-tab-group {
    //width: 90%;
    margin-left: 10%;
    padding-top: 10px;
}
:host {
    /deep/.mat-tab-label {
        color: rgba(33, 151, 248, 0.918);
        min-width: 80px;
        padding: 0 10px;
    }
}
:host {
    /deep/.mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: rgba(255, 230, 0, 0.918);
    }
}
:host {
    /deep/.mat-tab-body-wrapper {
        display: block;
    }
}
:host {
    /deep/.mat-tab-body-content {
        margin-top: 30px;
    }
}
:host {
    /deep/.mat-tab-header-pagination {
        min-width: 12px;
    }
}
