.base-inputs {
    position: relative;
    display: flex;
}

mat-form-field {
    flex: 1 1 auto;
    margin: 5px;
}

mat-icon{
  cursor: pointer;
}

mat-icon:hover{
  opacity: 0.6;
}

.input-and-call-btn{
  display: flex;
}

.comment-input-box {
    width: 100%;
}

.form-container {
    display: flex;
}

form {
    margin: auto;
    border: solid #e7e8ea 0.1em;
    border-radius: 0.5em;
    margin-top: 40px;
    padding: 8px;
    width: 600px;
}
