mat-drawer {
    width: 20%;
}
.container {
    min-width: 550px;
    margin: 0px;
    height: 89%;
}
section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
}
aside {
    float: right;
    margin: 0 1.5%;
    margin-top: 100px;
    width: 30%;
    overflow: auto;
}

