.right-list {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    float: right;
    right: 0;
    width: 350px;
    box-sizing: border-box;
}

.comment-block {
    padding-top: 48px;
}

.left-list {
    margin-top: 64px;
    position: fixed;
    height: 100%;
    width: 350px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.tabs {
    position: absolute;
    width: 70%;
    margin: 0 !important;
}

mat-drawer-container {
    background-color: white;
}
