<div *ngIf="isCall" class="widget">
    <app-loader *ngIf="delayNumber"></app-loader>
    <div *ngIf="isConnected" class="connect-block">
        <div *ngIf="client$ | async as client" class="client-data">
            <p>{{ client.name }}</p>
            <p>{{ client.phone }}</p>
        </div>
        <app-timer></app-timer>
         <button (click)="toggleMic()" mat-icon-button>
            <mat-icon aria-hidden="false">{{ icon ? 'mic' : 'mic_off' }}</mat-icon>
        </button>
        <button (click)="endCall()" class="button-call" mat-icon-button>
            <mat-icon aria-hidden="false">call_end</mat-icon>
        </button>
    </div>
    <div *ngIf="isErrorConnection" class="error-block">
		<p>Ошибка соеденения...</p>
		<button (click)="endCall()" class="button-call" mat-icon-button>
            <mat-icon aria-hidden="false">call_end</mat-icon>
        </button>
    </div>
</div>
