.logo {
    width: 150px;
    height: 100px;
    line-height: 100px;
}

.logo-title {
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
