div{
    padding: 15px;
    margin: 20px;
    border: 1px slategrey solid;

}
div:hover{
    padding: 15px;
    margin: 20px;
    border: 1px slategrey solid;
    button{
        visibility:visible;
        float: right;
    }
}

button{
    visibility: hidden;
    float: right;
}