.comment-input-box {
    width: 100%;
}

.comment-card {
    width: 88%;
    margin: auto;
    margin-bottom: 15px;
}

.comments-list {
    display: block;
      /*min-height: 35vh;
      overflow-y: scroll;*/
}

.input-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 5px;
    opacity: 0.5;
}

.input-icon:hover {
    opacity: 0.8;
}

form {
    opacity: 0.5;
}
