<div>
    <form [formGroup]="commentForm" (ngSubmit)="submit()">
        <mat-form-field class="comment-input-box" appearance="outline" color="accent">
            <img
                (click)="submit()"
                matSuffix
                class="input-icon"
                src="https://image.flaticon.com/icons/svg/149/149446.svg"
            />
            <input matInput type="text" placeholder="Введите комментарий" formControlName="comment" />
        </mat-form-field>
    </form>
</div>
<div class="comments-list">
    <mat-card *ngFor="let comment of comment$ | async" class="comment-card">
        <mat-card-title-group>
            <mat-card-title>Сообщение системы</mat-card-title>
            <mat-card-subtitle>{{ comment.createdAt | date }}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <p>
                {{ comment.comment }}
            </p>
        </mat-card-content>
    </mat-card>
</div>
