html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.left-list {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    float: left;
    left: 0;
    width: 300px;
    height: 60%;
}

.right-list {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    float: right;
    right: 0;
    width: 350px;
    height: 60%;
}
