html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.app-comment {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

app-contact-tab {
    position: relative;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    height: 65px;
}

.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    background-color: #f7dc6d !important;
}
