.video-rendering-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    margin-top: 40px;
}

.title {
    color: rgb(29, 28, 28);
}

.video {
    margin: 10px;
}

.circle-progress-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.action {
    display: flex;
    align-items: center;
    cursor: pointer;
}
