<section class="client" *ngIf="client$ | async as cl">
    <div class="clientInfo">
        <mat-card-content>
            <span>{{ cl.createdAt | date }}</span>
        </mat-card-content>
        <mat-card-header>
            <mat-card-title>{{ cl.lastName }} {{ cl.firstName }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <span>Возраст: {{ cl.age }} </span>
            <span>{{ cl.city?.toUpperCase() }}</span>
            <span>{{ cl.address?.toUpperCase() }}</span>
            <span class="status">{{ cl.session }}</span>
        </mat-card-content>
    </div>
    <div class="clientImg">
        <img mat-card-image src="{{ cl.avatar }}" alt="Photo of a {{ cl.lastName }} {{ cl.firstName }}" />
    </div>
    <app-client-labor-activity></app-client-labor-activity>
</section>
