mat-list-item {
    cursor: default;
}

mat-list-item:hover {
    background-color: #e9eaec;
}

.list {
    background-color: #e9eaec;
}

.more-information {
    font-size: 8px;
    color: #6185b3;
}

.description {
    display: block;
    color: #656565;
    padding: 16px;
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    background: #e9eaec54;
    word-break: break-all;
}

span {
    cursor: pointer;
}
